[submodule "geoemetry-js"]
	path = ext/geoemetry-js
	url = https://github.com/ajare/geoemetry-js
[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "ext/nativefiledialog-extended"]
	path = ext/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest
[submodule "ext/willpower"]
	path = ext/willpower
	url = https://github.com/ajare/willpower
